.wrap {
    border: 1px solid red;
}

.container {
    display: flex;
    /*margin-top: 85px;*/

    /*overflow-x: auto;*/
    /*height: 100vh;*/
}

.wrapper {
    /*max-height: 50vh !important;*/
height: calc(100vh);
    /*height: calc(100vh);*/
    overflow-x: auto;

}
.wrapper::-webkit-scrollbar {
    background: rgba(0,0,0,.15);
}
.wrapper::-webkit-scrollbar-thumb {
    background: rgba(198, 198, 198,.30);
    border-radius: 5px;
}



.testWrap {
    /*height: 100vh;*/
}

.itemAnotherColumn {
}

.itemLeftColumn {
    width: 15%;
    color: #42526e;
}

.itemLeftIcon {
    color: white;
}

.itemLeftColumn:hover {
    color: #172b4d;
}

.itemCreateColumnWrap {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.itemInput {
    margin: 6px;
    background-color: #0079bf;
    box-shadow: none;
    border: none;
    border-radius: 3px;
    color: #fff;
    padding: 7px 10px;
    font-size: 1rem;
}

.itemInput:hover {
    cursor: pointer;
    background-color: #026aa7;
}

.itemCreateColumn {
    display: flex;
    align-items: center;
    background-color: hsla(0, 0%, 100%, .24);
    color: white;
    height: 50px;
    min-width: 272px;
    margin: 8px;
    border-radius: 3px;
    cursor: pointer;
}

.itemCreateColumnInput {
    background-color: #ebecf0;
    height: 93px;
    width: 272px;
    min-width: 272px;
    margin: 8px;
   /*padding-right: 30px;*/
    border-radius: 3px;
    cursor: pointer;
}

.itemInputTitle {
    margin-top: 5px;
    width: 240px;
    height: 30px;
}


.itemInputTitle {
    padding: 5px 8px;
    outline: #0079bf auto 3px;
}


.itemCreateColumn:hover {
    background-color: hsla(0, 0%, 100%, .32)
}

.itemCreateColumnInput:hover {
    background-color: #ebecf0;
}


.mainWrap {
    /*background: url("https://trello-backgrounds.s3.amazonaws.com/SharedBackground/2133x1600/0f3b61d73a4028608dfa43344ad0302a/photo-1620839954053-e446ef13fa2e.jpg");*/
    background-position: 50%;
    background-size: cover;
    height: 100%;
    position: fixed;
    width: 100%;
    /*padding-top: 50px;*/
}

.inputItem {
}


.wrapItemTitle {
    border-radius: 3px;
}

.wrapNavbar {
    display: flex;
}

.itemNameProject {
    color: white;
    background-color: hsla(0, 0%, 100%, .24);
    padding: 8px 12px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    border-radius: 3px;
    margin-left: 8px;
    font-family: Arial;
    margin-bottom: 5px;
}

.itemNameProject:hover {
    background-color: hsla(0, 0%, 100%, .32);
}

.map {
    pointer-events: none;
}

.wrapContainer {
    height: 100vh;
}

.listWrap {
    box-shadow: 0 8px 16px -4px rgb(9 30 66 / 25%), 0 0 0 1px rgb(9 30 66 / 8%);
    height: 350px;
    background-color: #fff;
    color: #091e42;
    width: 280px;
    z-index: 1001;
    text-align: left;
    margin-top: 40px;
    margin-left: 135px;
    border-radius: 3px;
    position: absolute;
}

@media (max-width: 361px) {
    .listWrap {
        width: 240px;
    }
}

.containerBlock {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 305px;
    top: 50px;
}

.itemName {
    padding-bottom: 3px;
    color: #091e42 !important;
    font-size: 14px !important;
    font-weight: 400 !important;
}

.colorTitle {
    color: #fff!important;
}

.wrapItemRemove {
    /*display: flex;*/
    /*text-align: right;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*width: 1000px;*/
    margin-right: 8px;
}
.wrapWrapNavbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    /*position: fixed;*/
    margin-top: 45px;
}

@media (max-width: 587px) {
    .wrapItemRemove {
        /*width: 168px;*/
        /*margin-top: 8px;*/
    }



    .container {
        /*margin-top: 127px;*/
    }

}

@media (max-width: 400px) {
    .wrapItemRemove {
        /*margin-top: 8px;*/
    }

    /*.itemNameProject {*/
    /*    margin-bottom: 5px;*/
    /*}*/

    .container {
        /*margin-top: 172px;*/
    }

    .itemProjectInvite {
        /*margin-top: 8px;*/
    }

}
    .wrapWrapNavbar {
        flex-wrap: wrap;
    }

    .wrapNavbar {
        flex-wrap: wrap;
    }


    .wrapUserName {

    }




.itemTitle {
    text-align: center;
    border-bottom: 1px solid hsl(0, 0%, 80%);
    width: 90%;
    padding-top: 15px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;
    color: #5e6c84;
}

.wrapperItem {
    display: flex;
    justify-content: center;
}

.itemWrap {
    text-align: center;
    overflow-y: auto;
    max-height: 262px;
}

.itemWrapColumnMenu {
    text-align: left;
    padding: 10px 15px;
    font-size: 14px;
}

.itemWrapColumnMenu:hover {
    background-color: rgba(9, 30, 66, .04);
    cursor: pointer;
}

.itemColor {
    background-color: green;
}

.closeItem {
    margin: 0 auto;
}

.cursor {
    cursor: pointer;
    color: #6b778c;
}

.cursor:hover {
    color: #172b4d;
}

.itemText {
    margin: 10px 20px;
    color: #5e6c84;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: .04em;
    text-transform: uppercase;
}

.wrapIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    width: 36px;
    border-radius: 5px;
    background: linear-gradient(#006644, #00875a);
    font-size: 20px;
    color: #FFFFFF;
    font-weight: bold;
}

.titleMargin {
    margin-left: 5px;
    color: #172b4d;
    font-size: 16px;
    font-weight: bold;
}

.wrapperItemProject {
    display: flex;
    margin: 0 2% 2% 0;
    text-decoration: none;
    border-radius: 3px;
    padding: 8px;
    height: 90px;
    word-break: break-all;
    overflow-y: hidden;
    opacity: 0.95;
    /*background-image: url("https://trello-backgrounds.s3.amazonaws.com/SharedBackground/480x320/50cc3dcbc521f726b1b44812059acc97/photo-1515847049296-a281d6401047.jpg");*/
    background-size: cover!important;
}

.wrapperItemProject:hover {
    opacity: 1;
}

.itemCreate {
    background: rgba(9, 30, 66, .04);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.itemCreate:hover {
    background-color: rgba(9, 30, 66, .08);
}

.wrapList {
    display: grid;
    grid-template: 120px / 15% 15% 15% 15% 15%;
    grid-gap: 20px;
    justify-content: center;
}

@media (max-width: 750px) {
    .wrapList {
        grid-template: 120px / 20% 20% 20% 20%
    }
}

@media (max-width: 540px) {
    .wrapList {
        grid-template: 120px / 28% 28% 28%
    }
}

@media (max-width: 410px) {
    .wrapList {
        grid-template: 120px / 40% 40%
    }
}


@media (max-width: 310px) {
    .wrapList {
        grid-template: 120px / 90%
    }
}

.wrapTitleProject {
    max-height: 100px;
    overflow-y: hidden;
}

.itemName {

    margin: 0 10px 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    line-height: 20px;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    word-wrap: break-word;
    padding: 6px;
    border-radius: 3px;
}

.itemName:hover {
    background-color: rgba(9, 30, 66, .04);
    cursor: pointer;
}

.itemCreateText {
    color: #172b4d;
    font-weight: 400;
}

.mainContainer {
}

.imgItem {
    margin-right: 10px;
}

.wrapIconMain {
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width: 40px;
    color: #fff;
    height: 40px;
    background-color: #00875a;
}

.containerIconName {
    margin-right: 5px;
    height: 32px;
    width: 32px;
}

.wrapIconName {
    display: flex;
    cursor: pointer;

    /*box-shadow: red;*/

    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width: 32px;
    color: #fff;
    height: 32px;
    background-color: #00875a;
}

.itemGroupLeft {
    display: flex;
    align-items: center;
}

.itemParticipant {
    margin-right: -3px;
}

.wrapIconName:hover {
    background-color: #009e69;
}

.wrapUserName {
    display: flex;
    margin-left: 5px;
    margin-bottom: 5px;
    align-items: center;
    flex-wrap: wrap;
}