@media (max-width: 1173px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .itemLeft {
        width: 100% !important;
    }

    .itemRight {
        width: 100% !important;
    }
}

@media (max-width: 483px) {
    .img {
        width: 300px;
    }

    .title {
        font-size: 2rem !important;
    }
}

@media (max-width: 336px) {
    .img {
        width: 250px;
    }
}

.wrapImg {
    margin-top: 30px;
}

.img {
    width: 400px;
    height: auto;
}

.container {
    display: flex;
    justify-content: flex-end;
    color: #091e42;
}


.itemLeft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    width: 50%;
}

.itemRight {
    width: 50%;
    display: flex;
    justify-content: center;
}

.title {
    width: 100%;
    font-size: 3rem;
    line-height: 1.25;
    margin-bottom: 10px;
}

.text {
    width: 100%;
    font-size: 1.2rem;
    line-height: 1.5;
}

.firstTextItem {
    font-weight: 500;
}