.container {
    text-align: left;
    z-index: 1;
    position: relative;
    border-radius: 3px;
    padding: 8px;
    margin-bottom: 8px;
    background-color: #fff;
    word-break: break-all;
    box-shadow: 0 1px 0 rgb(9 30 66 / 25%);
    /*overflow: hidden;*/
    /*background-color: ${props => (props.isDragging ? 'lightgreen' : 'white')};*/
    /*width: 95%;*/
}

.container:hover {
    background-color: #f5f5f5;
    cursor: pointer;

}
.itemTitle{
    font-weight: 600;
}

.positionIcon {
    /*float: right;*/
    /*display: flex;*/
    /*flex-direction: row;*/
    /*width: 100%;*/
    /*padding: 8px;*/
    /*float: right;*/
    /*position: absolute;*/
/*    left: 400px;*/
/*    float: right;*/
/*    position: fixed;*/
    /*float: right;*/
    /*z-index: 10000;*/
/*bottom: 1000px;*/
    /*align-items: center;*/

    /*position:relative;*/
    /*b:10px;*/
    /*float: right;*/
    /*position: absolute;*/
    /*top: 0;*/
    /*display: flex;*/
    /*z-index: 1000;*/
    /*flex-direction: column;*/
    /*justify-content: center;*/
    /*z-index: 10000;*/
    /*float: top;*/
    /*left:20px;*/
    /*width:200px;*/
}

.leftItem {
    width: 100%;
}
.icon {
    color: gray;
    position: absolute;
    left: 223px;
    border-radius: 3px;
    top: .1562rem;
    padding: 9px;

}

.icon1 {
    color: gray;
    position: absolute;
    left: 215px;
    border-radius: 3px;
    top: .1562rem;
    padding: 9px;

}
/*.test {*/
/*    padding: 10px;*/
/*}*/

.icon:hover {
    background-color: #e8e8e8;
    color: black;
}

.icon1:hover {
    background-color: #e8e8e8;
    color: black;
}

/*.taskList*/
/*.u-fancy-scrollbar::-webkit-scrollbar-track-piece {*/
/*    background: rgba(9,30,66,.08);*/
/*}*/