.container {
    text-align: left;
    z-index: 1;
    position: relative;
    border-radius: 3px;
    padding: 8px;
    margin-bottom: 8px;
    background-color: #fff;
    word-break: break-all;
    box-shadow: 0 1px 0 rgb(9 30 66 / 25%);
}

.container:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}

.itemTitle{
    font-weight: 600;
}

.position-icon {

}

.leftItem {
    width: 100%;
}
.icon {
    color: gray;
    position: absolute;
    left: 223px;
    border-radius: 3px;
    top: .1562rem;
    padding: 9px;

}

.icon1 {
    color: gray;
    position: absolute;
    left: 215px;
    border-radius: 3px;
    top: .1562rem;
    padding: 9px;

}

.icon:hover {
    background-color: #e8e8e8;
    color: black;
}

.icon1:hover {
    background-color: #e8e8e8;
    color: black;
}

.blockMarkers {
    display: flex;
}

.itemMarker {
    margin-right: 4px;
    max-width: 48px;
    min-width: 48px;
    border-radius: 4px;
    height: 8px;
}

.itemMarker:hover {
    opacity: 0.8;
}

.itemMarkerWrap {

}

.itemMarkerPadding {
    margin-top: 5px;
}

.itemParticipant {
    margin-right: 3px;
}

.wrapIconName {
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width: 32px;
    color: #fff;
    height: 32px;
    background-color: #00875a;
}

.wrapIconName:hover {
    opacity: 0.8;
}

.blockWrapParticipant {
    display: flex;
    justify-content: space-between;
}

.blockItemParticipant {
    display: flex;
}

.blockMargin {
    margin-top: 10px;
}

.eyeIcon {
    display: flex;
    align-items: center;
    margin-right: 12px;
}

.wrapperLeft {
    display: flex;
}
