.itemWrap {
    text-align: center;
    overflow-y: auto;
    max-height: 262px;
}

.itemName {
    margin: 0 10px 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #091e42;
    line-height: 20px;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    word-wrap: break-word;
    padding: 6px;
    border-radius: 3px;
}

.itemNameMarker {
    margin-top: 5px;
}

.itemNameMarker:hover {
    margin-left: 15px;
}

.itemName:hover {
    background-color: rgba(9, 30, 66, .04);
    cursor: pointer;
}

.itemGroupLeft {
    display: flex;
    align-items: center;
}

.itemGroupLeftMarkers {
    padding: 3px;
}

.containerIconName {
    margin-right: 5px;
    height: 32px;
    width: 32px;
}

.wrapIconName {
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width: 32px;
    color: #fff;
    height: 32px;
    background-color: #00875a;
}
