.wrapForWrap {
    position: relative;
    background-color: black;
    width: 100%;
    opacity: 0.6;
    height: 100%;
    top: -50px;
    /*z-index: -10;*/

}

.listWrap {
    height: 350px;
    background-color: gold;
    width: 30%;
    text-align: left;
    overflow: scroll;
    position: absolute;
}
.wrapper {
    position: absolute;
    background-color: #f4f5f7;
    height: 90vh;
    width: 768px;
    left: 100px;
    right: 100px;
    margin: 0 auto;
    top:50px;
    z-index: 1000;
}

.iconStyle {
    color: #42526e;
}
.container {
    display: flex;
    justify-content: flex-end;
}

.cursor {
    background-color: #61dafb;
}

.userWrap {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.userWrap:hover {
    background-color: #61dafb;
}

.firstBlock {
    display: flex;
    justify-content: space-between;
    /*margin: 15px;*/
    /*padding: 10px;*/
}

.firstBlockLeft {
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    /*margin: 20px 0 20px 20px;*/
}

.secondBlockLeft{
    margin-top: 20px;
    margin-left: 20px;
}

.firstBlockRight {
    color: #42526e;
    padding: 15px;
    margin: 5px;
    border-radius: 50%;
}

.firstBlockLeftIcon {
    display: flex;
    align-items: center;
    padding-bottom: 2px;
}

.itemActiveColumn {
    text-align: left;
    margin: 0 15px 15px 60px;
    color: #5e6c84;
    font-size: 14px;
}

.firstBlockRight:hover {
    background-color: rgba(9,30,66,.08);
    color: #42526e;
    cursor: pointer;

}

.firstBlockCenter {
    width: 620px;
    height: 33px;
    font-size: 20px;
    padding: 6px 8px;
    border: none;
    background-color: #f4f5f7;
    resize: none;
    border-radius: 3px;
    font-weight: 700;
    color: #172b4d;
    margin-left: 10px;
}

.firstBlockCenter:focus {
    /*box-shadow: inset 0 0 0 2px #0079bf;*/
    outline: #0079bf auto 3px;
    /*outline: none;*/

    background-color: #fff;
}

.itemActiveColumnUnderline {
    text-decoration: underline;
}

.itemActiveColumnUnderline:hover {
    color: #172b4d;
}

.secondBlockCenter {
    font-size: 14px;
    width: 620px;
    height: 33px;
    padding: 6px 8px;
    border: none;
    background-color: #f4f5f7;
    resize: none;
    border-radius: 3px;
    font-weight: 500;
    color: #172b4d;
    margin-left: 10px;
}

.secondBlockCenter:focus {
    outline: #0079bf auto 3px;
    background-color: #fff;
    color: #5e6c84;
}

.itemDesc {
    font-size: 20px;
    font-weight: 700;
    color: #172b4d;
    margin-left: 21px;
}

.secondBlockTextArea {

}

/*.itemActiveColumnUnderline:focus {*/
/*    outline: #0079bf auto 3px;*/
/*}*/