.wrapForWrap {
    position: relative;
    background-color: black;
    width: 100%;
    opacity: 0.6;
    height: 100%;
    top: -50px;
    /*z-index: -10;*/

}

.listWrap {
    height: 350px;
    background-color: gold;
    width: 30%;
    text-align: left;
    overflow: scroll;
    position: absolute;
}

.wrapper {
    border-radius: 3px;
    position: absolute;
    background-color: #f4f5f7;
    height: 90vh;
    width: 768px;
    left: 100px;
    right: 100px;
    margin: 0 auto;
    top: 50px;
    z-index: 1000;
}

.iconStyle {
    color: #42526e;
}

.container {
    display: flex;
    justify-content: flex-end;
}

.cursor {
    background-color: #61dafb;
}

.userWrap {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.userWrap:hover {
    background-color: #61dafb;
}

.firstBlock {
    display: flex;
    justify-content: space-between;
    /*margin: 15px;*/
    /*padding: 10px;*/
}

.firstBlockLeft {
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    /*margin: 20px 0 20px 20px;*/
}

.secondBlockLeft {
    width: 70%;
    margin-top: 20px;
    margin-left: 20px;
}

.firstBlockRight {
    /*color: #42526e;*/
    /*padding: 20px 15px 0 15px;*/
    /*margin: 5px;*/
    /*display: flex;*/
    position: absolute;
    right: 5px;
    top: 5px;
    /*align-items: center;*/
    /*border-radius: 50%;*/
}

.borderIcon {
    /*color: black;*/
    padding: 12px;
    /*position: absolute;*/
    border-radius: 50%;
}

.borderIcon:hover {
    background-color: rgba(9, 30, 66, .08);
    color: #42526e;
    cursor: pointer;

}

.firstBlockLeftIcon {
    height: 35px;
    display: flex;
    align-items: center;
    padding-bottom: 2px;
}

.itemActiveColumn {
    text-align: left;
    margin: 0 15px 15px 60px;
    color: #5e6c84;
    font-size: 14px;
}

/*.firstBlockRight:hover {*/
/*    background-color: rgba(9,30,66,.08);*/
/*    color: #42526e;*/
/*    cursor: pointer;*/
/*}*/

.firstBlockCenter {
    width: 620px;
    height: 33px;
    font-size: 20px;
    padding: 6px 8px;
    border: none;
    background-color: #f4f5f7;
    resize: none;
    border-radius: 3px;
    font-weight: 700;
    color: #172b4d;
    margin-left: 10px;
}

.firstBlockCenter:focus {
    /*box-shadow: inset 0 0 0 2px #0079bf;*/
    outline: #0079bf auto 3px;
    /*outline: none;*/

    background-color: #fff;
}

.itemActiveColumnUnderline {
    text-decoration: underline;
}

.itemActiveColumnUnderline:hover {
    color: #172b4d;
}

.secondBlockCenter {
    font-size: 14px;
    width: 620px;
    height: 33px;
    padding: 6px 8px;
    border: none;
    background-color: #f4f5f7;
    resize: none;
    border-radius: 3px;
    font-weight: 500;
    color: #172b4d;
    margin-left: 10px;
}


/*.secondBlockCenter:active {*/
/*    cursor: pointer!important;*/
/*    color: #0079bf!important;*/
/*    background-color: #e4f0f6!important;*/
/*    box-shadow: none!important;*/
/*    border: none!important;*/
/*    outline: none!important;*/
/*}*/

.secondBlockCenter:focus {
    outline: #0079bf auto 3px;
    background-color: #fff;
    color: #5e6c84;
    min-height: 100px;
}

.itemBlockName {
    /*padding: 10px 0;*/
    display: flex;
    align-items: center;
    margin-left: 10px;
    height: 30px;
    font-size: 14px;
    width: 100%;
    color: #172b4d;
    cursor: pointer;
    text-align: left;
    word-break: break-all;
}



/*.secondBlockCenter:active:not(:focus)  {*/
/*    cursor: inherit!important;*/
/*    color: #0079bf!important;*/
/*    background-color: #e4f0f6!important;*/
/*    box-shadow: none!important;*/
/*    border: none!important;*/
/*    outline: none!important;*/
/*}*/

.itemDesc {
    font-size: 18px;
    font-weight: 700;
    color: #172b4d;
    /*margin-top: 10px;*/
    margin-left: 21px;
}

.itemButtonChange {
    font-size: 15px;
    font-weight: 400;
    color: #172b4d;

    margin-left: 10px;
    cursor: pointer;
    padding: 10px 12px;
    background-color: rgba(9,30,66,.04);
    border-radius: 3px;
}

.itemButtonChange:active {
        color: #0079bf;
        background-color: #e4f0f6;
        box-shadow: none;
        border: none;
        outline: none;
}

/*.textareaBlock {*/
/*    width: 100%;*/
/*}*/

.itemButtonChange:hover {
    background-color: rgba(9,30,66,.08);
    box-shadow: none;
    border: none;
}

.secondBlockTextArea {
    /*display: flex;*/
    margin-left: 30px;
    margin-top: 20px;
    /*width: 300px;*/

    /*justify-content: center;*/
}

.secondBlockCenter {
    /*width: 2;*/
    width: 450px;
    border-radius: 3px;
    margin-left: 10px;
    cursor: pointer;
    background-color: rgba(9, 30, 66, .04);
    min-height: 40px;
    padding: 8px 12px;
}

.secondBlockCenter::placeholder {
    color: #172b4d;
}

.secondBlockCenter:focus {
    cursor: inherit;

}



.secondBlockCenter:focus::placeholder {
    color: inherit;
}

.secondBlockCenter:hover {
    background-color: rgba(9, 30, 66, .08);
    box-shadow: none;
    border: none;
}


.secondBlockCenter:focus:hover {
    background-color: white;
}

.secondBlock {
    /*width: 550px;*/
    display: flex;
}

/*.itemActiveColumnUnderline:focus {*/
/*    outline: #0079bf auto 3px;*/
/*}*/

.itemCreateColumnWrap {
    margin-left: 3px;

    display: flex;
    /*cursor: pointer;*/
    align-items: center;
    justify-content: flex-start;
}

.itemInput {
    margin: 6px;
    background-color: #0079bf;
    box-shadow: none;
    border: none;
    border-radius: 3px;
    color: #fff;
    padding: 7px 10px;
    font-size: 1rem;
    /*font-weight: 200;*/
}

.itemInput:hover {
    cursor: pointer;
    background-color: #026aa7;
}


.itemLeftColumn {
    margin-left: 0;
    width: 10%;
    cursor: pointer;
    color: #42526e;
    /*color: white;*/
}
.itemLeftColumn:hover {
    color: #172b4d;
}

.thirdBlock {
    width: 30%;
 display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    /*text-align: right;*/
}

.thirdItemWrap {
    width: 200px;
    text-align: left;
    /*text-align: left;*/
}

.itemList {
    margin-top: 10px;
    font-size: 15px;
    font-weight: 400;
    color: #172b4d;
    padding: 10px 12px;
    background-color: rgba(9,30,66,.04);
    border-radius: 3px;
}

.itemList:hover {
    color: #101e36;
    cursor: pointer;
    background-color: rgba(9,30,66,.08);
}

.itemListInvite {
    position: absolute;
    right: 355px;
    /*top: 300px!important;*/
}

.itemNameButton{
    margin-left: 10px;
}

.itemRigthBlockTitle {
    color: #5e6c84;
    margin-top: 10px;
    font-size: 12px;
    font-weight: 500;
}

.itemRigthBlockSecondTitle {
    margin-top: 50px;
}

.containerIconName {
    display: flex;
    margin-top: 10px;
    margin-right: 5px;
    height: 32px;
    width: 32px;
}

.wrapIconName {
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width: 32px;
    color: #fff;
    height: 32px;
    background-color: #00875a;
}

.wrapIconName:hover {
    opacity: 0.8;
}

.wrapIconPlus {
    color: #172b4d;
    background-color: rgba(9,30,66,.04);
}

.wrapIconPlus:hover {
    background-color: rgba(9,30,66,.08);
    box-shadow: none;
    border: none;
}

.cardParticipants {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 59px;
    margin-top: 30px;
}

.itemParticipant {
    margin-right: 3px;
}

.cardTitle {
    color: #5e6c84;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: .04em;
    line-height: 16px;
    text-transform: uppercase;
}

.cardDetail {
    display: flex;
}

.wrapIconMarker {
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    width: 40px;
    color: #fff;
    height: 32px;
    background-color: #00875a;
}

.wrapIconMarkerPlus {
    color: #172b4d;
    background-color: rgba(9,30,66,.04);
}

.wrapIconMarkerPlus:hover {
    background-color: rgba(9,30,66,.08);
    box-shadow: none;
    border: none;
}

.wrapIconMarker:hover {
    opacity: 0.8;
}