.header {
    display: flex;
    justify-content: space-between;
    min-height: 40px;
    max-height: 40px;
    overflow: hidden;
    background-color: #026AA7;
    text-align: center;
    align-items: center;

}

@media (max-width: 781px) {
    .itemLeftIcon {
        margin-left: 10px!important;
    }
}


@media (max-width: 433px) {
    .title {
        font-size: 18px;
        display: flex;
        align-items: center;
    }
}

@media (max-width: 810px) {

        .itemLeft {
            width: 50%!important;
        }
        /*font-size: 20px;*/
        /*display: flex;*/
        /*align-items: center;*/
        /*justify-content: center;*/
}

@media (max-width: 551px) {
    .headerHome {
        flex-direction: column;
        align-items: flex-start!important;
        /*justify-content: flex-start;*/
        height: 70px!important;
    }
    .headerHomeLeftBlock {
        width: 100% !important;
    }
}

@media (max-width: 296px) {
    .wrapperTitleHeader {
        font-size: 22px;
        display: flex;
        align-items: center;
    }
}

.itemLeftIcon {
    margin-left: 5px;
}

.wrapNavLinks {
    display: flex;
    width: 150px;
}

.houseWrap {
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 34px;
    /*padding: 5px;*/
    color: #fff;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.3);
}

.houseWrap:hover {
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: none;
    color: #FFFFFF;
    outline: 0;
    cursor: pointer;
}

.headerProject {
    background-color: rgba(0, 0, 0, 0.32);
    position: fixed;
    width: 100%;
    z-index: 1;
}

.headerHome {
    background: #eae6ff;
    display: flex;
    justify-content: space-between;
    padding: 1.5em .75em;
    height: 2em;
    overflow: hidden;
    text-align: left;
    align-items: center;
}

.img {
    width: 100%;
}

.wrapImg {
    width: 35px;
    display: flex;
    align-items: center;
    margin-right: 10px;
}


.headerHomeLeftBlock {
    color: #091e42;
    font-weight: 700;
    cursor: pointer;
}

.headerHomeLeftBlock:hover {
    opacity: .8;
}

.headerHomeLeftBlockMain {
    display: flex;
    font-size: 2em;
    color: #82b6d2;
    font-weight: 700;
    cursor: pointer;
}

.svgItem {
    fill: #82b6d2;
}

.headerHomeLeftBlockMain:hover .svgItem {
    fill: #cde2ed;
}

.headerHomeLeftBlockMain:hover{
    color: #cde2ed;
}

.headerHomeLeftBlockMainProject {
    color: white;
    opacity: 0.5;
}

.svgItemProject {
    fill: white;

}

.headerHomeLeftBlockMainProject:hover .svgItemProject {
    fill: white;

}

.headerHomeLeftBlockMainProject:hover{
    color: white;
    opacity: 0.8;
}


.itemRight {
    width: 150px;
    display: flex;
    justify-content: flex-end;
    /*float: right;*/
}

.wrapProfile {
    background-color: #f4f5f7;
    padding: 50px 0;
    display: flex;
    justify-content: center;
}

/*.itemRigthTmp {*/
/*    width: inherit;*/
/*}*/

.itemLogin {
    color: #0065ff;
    cursor: pointer;
    font-weight: 400;
    font-size: 1rem;
    padding-right: 15px;
    text-decoration: none;
}

.itemLogin:hover {
    color: #0051cc;
    text-decoration: underline;
}


.itemReg {
    cursor: pointer;
    color: #fff;
    border: 1px solid transparent;
    font-weight: 400;
    background-color: #0065ff;
    text-decoration: none;
    padding: .4rem 1.3rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .2rem;
}

.itemReg:hover {
    background-color: #0051cc;
}

.wrapIconName {
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width: 32px;
    color: #fff;
    height: 32px;
    background-color: #00875a;
}

.wrapIconProfile {
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width: 55px;
    color: #fff;
    font-size: 22px;
    font-weight: 700;
    height: 55px;
    background-color: #00875a;
}

.profileName {
    font-size: 22px;
    font-weight: 700;
    color: #0C3953;
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.wrapIconMain {
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width: 40px;
    color: #fff;
    height: 40px;
    background-color: #00875a;
}

.wrapMenuLogin {
    display: flex;
    margin: 10px 15px;
    padding: 0 0 10px 0;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid rgba(9, 30, 66, 0.13);
}

.itemLoginName {
    font-size: 14px;
    color: #172B4D;
}

.imgItem {
    margin-right: 10px;

}

.borderWrapTitle {
    display: flex;
    font-size: 14px;
    padding: 10px;
    justify-content: center;
}

.userMenuWrap {
    position: fixed;
    top: 41px;
    z-index: 2;
    background-color: #fff;
    right: 2px;
    width: 300px;
    border-radius: 3px;
    box-shadow: 0 8px 16px -4px rgb(9 30 66 / 25%);
    box-sizing: border-box;
    outline: 0;
    overflow: hidden;
}


.borderItemTitle {
    font-size: 14px;
    color: #5E6C84;
    font-weight: 300;
    border-bottom: 1px solid rgba(9, 30, 66, 0.13);
    padding: 10px 15px;
    margin: 0 15px;
}

.containerIconName {
    margin-right: 5px;
    height: 32px;
    width: 32px;
}

.containerIconProfile {
    margin-right: 5px;
    /*height: 50px;*/
    /*width: 50px;*/
}

.itemLeft {
    display: flex;
    width: 33.3%;
}

.itemLeftMain {
    display: flex;
    justify-content: center;
    width: 100%;
}

.itemCenter {
    width: 33.3%;
}

.headerHomeLeftBlock {
    font-size: 2em;
}

.itemCenter {
    width: 33.3%;
}

.wrapNavbars {
    display: flex;
    justify-content: center;
    align-items: center;
}

.titleWrap {
    color: darkgray;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
}

.titleWrap:hover {
    color: aliceblue;
}

.loginBlock a {
    color: white;
}

.nav {
    grid-area: nav;
    background-color: crimson;
}

.nav a {
    text-decoration: none;
}

.map {
    pointer-events: none;
}

.itemLogout {
    color: #172B4D;
    text-align: left;
    height: 100%;
    font-size: 14px;
    font-weight: 400;
    padding: 7px 15px;
    margin-bottom: 15px;
}

.itemLogout:hover {
    background: rgba(9, 30, 66, 0.04);
    cursor: pointer;
}

.itenCloseItem {
    position: absolute;
    right: 20px;
    top: 11px;
}

.itenCloseItem:hover {
    cursor: pointer;
    color: #172B4D;
}