.container {
    margin: 8px;
    height: 100%;
    min-height: 100px;
    border-radius: 3px;

    background-color: #ebecf0;
    display: flex;
    flex-direction: column;
    /*float: left;*/
    color: #172b4d;
    width: 272px;
/*float: left;*/
    /*white-space: nowrap;*/
    /*float: left;*/
   /*width: 1000px;*/
    /*box-sizing: border-box;*/
    /*display: inline-block;*/
    /*margin: 0 4px;*/
    /*height: 100%;*/
    /*box-sizing: border-box;*/
    /*display: inline-block;*/
    /*vertical-align: top;*/
    /*white-space: nowrap;*/

}

.containerTask {
    text-align: left;
    z-index: 1;
    position: relative;
    border-radius: 3px;
    padding: 8px;
    margin-bottom: 8px;
    background-color: #fff;
    word-break: break-all;
    box-shadow: 0 1px 0 rgb(9 30 66 / 25%);
}

.leftItem {
    width: 100%;
    height: 100%;
    resize: vertical;
}
.textareaItem:focus {
    outline: none;
}

.textareaItemScroll:focus {
    outline: none;
}

.textareaItemScroll {
    width: 230px;
    resize: none;
    border: none;
    min-height: 50px;
    max-height: 200px;
    display: inline-block;
}

.textareaItem {
    display: inline-block;
    /*border: solid 1px #000;*/
    min-height: 50px;
    max-height: 200px;
    width: 240px;
    /*max-height: 162px;*/
    border: none;
    /*overflow: hidden;*/
    /*overflow-wrap: break-word;*/
    /*resize: vertical;*/
    resize: none;
    /*overflow: hidden;*/
}



/*.textareaItem:focus {*/
/*    outline: none;*/
/*}*/

.title {
    font-size: 14px;
    padding: 8px;
    font-weight: 600;
    width: 100%;
}

.headerWrapper {
    margin: 5px 5px -2px 5px;
    /*display: block;*/
    display: flex;
    /*justify-content: flex-start;*/
    /*align-items: center;*/
    text-align: left;
    align-items: center;
}

.title:hover {
    cursor: pointer;
}

.taskList {
    overflow: auto;
    max-height: 670px;
    padding: 8px;
    transition: background-color 0.2s ease;
    /*background-color: ${props => (props.isDraggingOver ? 'skyblue' : 'white')};*/
    flex-grow: 1;

    /*min-height: 50px;*/
}

.itemButton {
    /*margin-top: 5px;*/
    width: 60%;
    /*text-align: left;*/
    /*margin-left: 20px;*/
}

.taskList::-webkit-scrollbar {
    width: 8px;
    /*height: 8px;*/

}

.taskList::-webkit-scrollbar-track-piece {
    background: rgba(9,30,66,.08);
    border-radius: 5px;
}

.taskList::-webkit-scrollbar-thumb {
    background: #cccdd6;
    border-radius: 5px;
    /*height: 100px!important;*/

}
.itemTitleRigth {
    /*float: left;*/

    border-radius: 4px;
    padding: 3px 12px 12px 12px;
}

.itemTitleRigthInput {
    /*float: left;*/
    /*display: flex;*/
}

.itemTitleRigthInput:hover {
    cursor: pointer;
    background-color: rgba(9,30,66,.08);
    z-index: 1000;
}

.itemTitleRigth:hover {
    cursor: pointer;
    background-color: rgba(9,30,66,.08);
    z-index: 1000;
}

.itemFooterButton {
    display: flex;
    justify-content: flex-start;
    padding: 5px 8px 5px 8px;

}
.itemFooterButtonRight {
    width: 5%;
}

.itemFooterButtonLeft {
    display: flex;
    align-items: center;
}

.wrapItemFooter {
    padding: 8px 8px 5px 8px;
}

.itemTextAreaTitle {
    font-size: 14px;
    width: 213px;
    font-weight: 600;
    margin: 1px 0 0 .2rem;
    padding: 0 3px;
    font-family: inherit;
    height: 25px;
    outline: #0079bf auto 3px;
}

/*.itemFooterButtonLeft*/

.itemFooterButton:hover {
    background-color: rgba(9,30,66,.08);
    cursor: pointer;
    border-radius: 4px;
}

.itemCreateColumnWrap {
    display: flex;
    margin-top: -13px;
    align-items: center;
    justify-content: flex-start;
    /*margin: 0;*/
}


.itemInput {
    /*margin-top: -10px;*/
    margin-bottom: 3px;
    margin-right: 6px;
    background-color: #0079bf;
    box-shadow: none;
    border: none;
    border-radius: 3px;
    color: #fff;
    padding: 7px 10px;
    font-size: 1rem;
    /*font-weight: 200;*/
}

.itemInput:hover {
    cursor: pointer;
    background-color: #026aa7;
}


.itemLeftColumn {
    width: 15%;
    margin-bottom: 3px;
    color: #42526e;
}




.itemLeftColumn:hover {
    color: #172b4d;
    cursor: pointer;
}
