.container {
    margin: 8px;
    height: 100%;
    min-height: 100px;
    /*max-height: 100px;*/
    border-radius: 3px;
    background-color: #ebecf0;
    /*display: flex;*/
    float: left;
    /*flex-direction: column;*/
    color: #172b4d;
    /*width: 272px;*/
    min-width: 272px;
    max-width: 272px;
    /*position: absolute;*/
}

.containerTask {
    text-align: left;
    z-index: 1;
    position: relative;
    border-radius: 3px;
    padding: 8px;
    margin-bottom: 8px;
    background-color: #fff;
    word-break: break-all;
    box-shadow: 0 1px 0 rgb(9 30 66 / 25%);
}

.leftItem {
    width: 100%;
    height: 100%;
    resize: vertical;
}
.textareaItem:focus {
    outline: none;
}

.textareaItemScroll:focus {
    outline: none;
}

.textareaItemScroll {
    width: 230px;
    resize: none;
    border: none;
    min-height: 50px;
    max-height: 200px;
    display: inline-block;
}

.textareaItem {
    display: inline-block;
    min-height: 50px;
    max-height: 200px;
    width: 240px;
    border: none;
    resize: none;
}

.title {
    font-size: 14px;
    padding: 8px;
    font-weight: 600;
    width: 100%;
}

.headerWrapper {
    margin: 5px 5px -2px 5px;
    display: flex;
    text-align: left;
    align-items: center;
}

.title:hover {
    cursor: pointer;
}

.taskList {

    /*display: flex;*/
    /*width: 100%;*/
    /*height: 90%;*/
    /*align-items: center;*/
    /*flex-direction: column;*/
    /*justify-content: flex-start;*/

    /*overflow: auto!important;*/
    /*max-height: 670px;*/

}

.taskListTmp {
/*display: flex;*/
    /*flex-direction: column;*/
    /*padding: 8px;*/
    /*max-height: 670px;*/
    overflow: auto!important;
    padding: 8px;
    transition: background-color 0.2s ease;
    flex-grow: 1;
    max-height: 670px;
}

.taskListWrap {

}

.wrapMenu {
    position: relative;
}


@media (max-height: 881px) and (min-height: 824px){
    .taskListTmp {
        max-height: 610px;
    }
}

@media (max-height: 823px) and (min-height: 812px){
.taskListTmp {
    max-height: 525px;
}
}

@media (max-height: 812px) {
    .taskListTmp {
        max-height: 480px;
    }
}

@media (max-height: 736px) and (min-height: 720px) {
    .taskListTmp {
        max-height: 440px;
    }
}

@media (max-height: 731px) {
    .taskListTmp {
        max-height: 435px;
    }
}

@media (max-height: 720px) {
    .taskListTmp {
        max-height: 425px;
    }
}

@media (max-height: 667px) {
    .taskListTmp {
        max-height: 370px;
    }
}

@media (max-height: 653px) {
    .taskListTmp {
        max-height: 270px;
    }
}

@media (max-height: 640px) {
    .taskListTmp {
        max-height: 345px;
    }
}

@media (max-height: 568px) {
    .taskListTmp {
        max-height: 272px;
    }
}

.itemButton {
    width: 60%;
}

.taskListTmp::-webkit-scrollbar {
    width: 8px;
}

.taskListTmp::-webkit-scrollbar-track-piece {
    background: rgba(9,30,66,.08);
    border-radius: 5px;
}

.taskListTmp::-webkit-scrollbar-thumb {
    background: #cccdd6;
    border-radius: 5px;
}
.itemTitleRigth {
    border-radius: 4px;
    padding: 3px 12px 12px 12px;
}

.itemTitleRigthInput {

}

.itemTitleRigthInput:hover {
    cursor: pointer;
    background-color: rgba(9,30,66,.08);
    z-index: 1000;
}

.itemTitleRigth:hover {
    cursor: pointer;
    background-color: rgba(9,30,66,.08);
    z-index: 1000;
}

.itemFooterButton {
    display: flex;
    justify-content: flex-start;
    padding: 5px 8px 5px 8px;

}
.itemFooterButtonRight {
    width: 5%;
}

.itemFooterButtonLeft {
    display: flex;
    align-items: center;
}

.wrapItemFooter {
    padding: 8px 8px 5px 8px;
}

.itemTextAreaTitle {
    font-size: 14px;
    width: 213px;
    font-weight: 600;
    margin: 1px 0 0 .2rem;
    padding: 0 3px;
    font-family: inherit;
    height: 25px;
    outline: #0079bf auto 3px;
}

.itemFooterButton:hover {
    background-color: rgba(9,30,66,.08);
    cursor: pointer;
    border-radius: 4px;
}

.itemCreateColumnWrap {
    display: flex;
    margin-top: -13px;
    align-items: center;
    justify-content: flex-start;
}


.itemInput {
    margin-bottom: 3px;
    margin-right: 6px;
    background-color: #0079bf;
    box-shadow: none;
    border: none;
    border-radius: 3px;
    color: #fff;
    padding: 7px 10px;
    font-size: 1rem;
}

.itemInput:hover {
    cursor: pointer;
    background-color: #026aa7;
}

.itemLeftColumn {
    width: 15%;
    margin-bottom: 3px;
    color: #42526e;
}

.itemLeftColumn:hover {
    color: #172b4d;
    cursor: pointer;
}
